
.Header {
  background-color: #AB2A19;
  height: 50px;
  padding-left: 45px;
}

.Dash-Form-Home {
  display: flex;
  justify-content: space-around;
}

.Form-box {
  height: 500px;
  width: 500px;
  background-color: #3AD886;
  margin-top: 50px;
  padding: 20px 5px;
}

.Form-image {
  padding-left: 100px;
}


.Form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  width: 450px;
}

.Form-buttons {
  display: flex;
  justify-content: space-around ;
}
