.Header {
  background-color: #AB2A19;
  height: 75px;
  width: 100%;
  padding-left: 45px;
  color: white;
  text-transform: uppercase;
  display: flex;
}

.header-link {
  text-decoration: none;
  color: black;
  padding-right: 20px;
  margin-left: 20px;
  margin-top:20px;
}

.Dash-Form-Home {
  display: flex;
  justify-content: space-around;
}

/*-------------------------------------------------Form---*/

.Form-box {
  height: 400px;
  width: 500px;
  background-color: #3AD886;
  margin-top: 50px;
  padding: 20px 5px;
}

.Form-image {
  padding-left: 100px;
  height: 200px;
  width: 300px;
}


.Form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  width: 450px;
}

.Form-buttons {
  display: flex;
  justify-content: space-around;
}

.form-buttons {
  background-color: #ED6B5A;
  margin-top: 25px;
}

/*-------------------------------------------------Dashboard---*/

.Product-boxes {
  background-color: #D34735;
  height: 300px;
  width: 400px;
  margin: 15px;
  
}

.product-info {
  display: flex;
}

.product-label {
  display: flex;
  font-weight: 600;
}

.name {
  font-size: 20px;
}

.product-image {
  padding: 10px;
  max-height: 225px;
  max-width: 320x;
}

.product-name-price {
  text-transform: uppercase;
}

.dash-buttons-box {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  
}

.dash-buttons {
  background-color: #3AD886;
  border-radius: 5px;
}

