
.Header {
  background-color: #AB2A19;
  height: 75px;
  padding-left: 45px;
  color: white;
  text-transform: uppercase;
}

/*-------------------------------------------------Form---*/

.Dash-Form-Home {
  display: flex;
  justify-content: space-around;
}

.Form-box {
  height: 500px;
  width: 500px;
  background-color: #3AD886;
  margin-top: 50px;
  padding: 20px 5px;
}

.Form-image {
  padding-left: 100px;
  height: 200px;
  width: 300px;
}


.Form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  width: 450px;
}

.Form-buttons {
  display: flex;
  justify-content: space-around ;
}

/*-------------------------------------------------Dashboard---*/

.Product-boxes {
  background-color: #AB2A19;
  height: 300px;
  width: 400px;
  margin: 15px;
}

.product-image {
  padding: 10px;
}

.product-name-price {
  text-transform: uppercase;
}

.dash-buttons-box {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  
}

.dash-buttons {
  background-color: #3AD886;
  border-radius: 5px;
}

